.imgg{
    height: 600px;
    width: 660px;
    margin-left: 20px;
    margin-top: 4px;
    background-image: url('https://furorjeans.com/cdn/shop/files/Homepage_Banner_Women_59b58c13-fc45-4bfa-a4e5-cb0842bd3574_750x_crop_center.webp?v=1720266424');
    background-repeat: no-repeat;
    background-size: cover;

}
.cl{
  margin-left: 30%;
}

.imgg1{
    height: 600px;
    width: 660px;
      background-image: url('https://furorjeans.com/cdn/shop/files/Homepage_Banner_Men_ec90d6a3-ed12-45cd-8583-23cb557dd7ee_750x_crop_center.webp?v=1720266423');
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10px;
    margin-top: 4px;
}
.mni{
    height: 44px;
    width: 160px;
    background-color: white;
    color: black;
    box-shadow: rgba(86, 86, 92, 0.2) 0px 7px 29px 0px;
    border: none;
    border-radius: 10px;
  margin-top: 520px;
  margin-left: 240px;
    font-weight: bold;

}
.mni:hover{
    box-shadow: rgba(86, 86, 92, 0.4) 0px 7px 29px 0px;
    cursor: pointer;
    color: white;
    background-color: black;
}
/* From Uiverse.io by alexmaracinaru */ 
/* From Uiverse.io by alexmaracinaru */ 
/* From Uiverse.io by JaydipPrajapati1910 */ 
/* From Uiverse.io by JaydipPrajapati1910 */ 
.bun {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: #222;
  --tooltip-color: #fff;
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.bun::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: #555;
  font-size: 0.9rem;
  color: #fff;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.bun::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: #555;
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.bun::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bun-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
}

.text {
  top: 0
}

.text,.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
}

.bun:hover {
  background: #222;
}

.bun:hover .text {
  top: -100%;
}

.bun:hover .icon {
  top: 0;
}

.bun:hover:before,.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.bun:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.bun:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}
.md{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 
}




/* From Uiverse.io by cssbuttons-io */ 
.img-container {
  overflow: hidden;
  position: relative;
}

.img-container img {
  transition: transform 0.5s ease; /* Smooth zoom-in effect */
  width: 100%; /* Ensures the image fills the container */
  height: auto; /* Maintain aspect ratio */
}

.img-container:hover img {
  transform: scale(1.1); /* Zoom in by 10% */
}

